---
title: VO2 Test Results
language: en
category: physiology
topics:
- VO2max_and_aerobic_kinetics
- Lactate_kinetics_and_metabolism
- Thresholds_and_metabolic_domains
- Mitochondrial_and_cellular_adaptation
- Cardiovascular_and_hemodynamics
source: https://sparecycles.blog
author: Jem Arnold
date: '2017-03-29'
summary: The VO2max and lactate threshold test results show significant improvements
  in aerobic capacity and metabolic thresholds, indicating enhanced aerobic adaptation
  and cardiovascular function.
---
# VO2 Test Results

I had a VO2max & lactate threshold test done recently in a lab setting. I’ve tested VO2 max annually during the winter for the past three seasons, and it’s revealed some interesting trends in my fitness.

I’ve been slow about writing a summary of my interpretation of the results comparing this year (2017) to last (2016) but finally here it is.

[ Let your eyes glaze over for now. This will all be explained below! [https://sparecycles.blog/wp-content/uploads/2017/03/vo2-test-results3.png?w=1100](https://sparecycles.blog/wp-content/uploads/2017/03/vo2-test-results3.png?w=1100)  ](https://sparecycles.blog/wp-content/uploads/2017/03/vo2-test-results3.png)Let your eyes glaze over for now. This will all be explained below!

### Training Goal: Aerobic Endurance

When I outlined my [Aerobic Base training plan](https://sparecycles.blog/2017/01/15/2017-training-plan-part-2-aerobic-base/), I discussed my perceived physiological weaknesses relating to endurance fitness:

> ### Relevant Physiological Weaknesses
> 
>   * Short endurance training history: I don’t have a broad Aerobic Base built from years of experience and training.
> 

>   * ANaerobically-dominant phenotype: I have a lot of muscle mass, lots of fast twitch muscle fibers and I put on weight easily.
> 

>   * Poor Stamina & Fatigue Resistance: I can’t put out the same kind of power at the end of a race as I could in the beginning.
> 

To be more specific, I felt my limiting factor was peripheral Aerobic adaptation; or how much Oxygen my muscles could utilize at a given workload.

A review article in 2000 by [Bassett & Howley](https://www.ncbi.nlm.nih.gov/pubmed/10647532) concluded that maximal oxygen uptake (VO2max) is limited by the central cardiorespiratory system, and not peripheral skeletal muscle; **ie. rate of O2 delivery rather than rate of O2 utilization**. However at submaximal workloads peripheral metabolic adaptations to skeletal muscle “[are] critical for improving submaximal endurance performance” (Bassett & Howley, 2000).

> [The full review article](http://vo2maxresearch.blogspot.ca/2009/02/limiting-factors-for-maximum-oxygen.html) by Bassett & Howley (2000) is worth a read for the various physiological processes that contribute to VO2max and could potentially limit theoretical and functional performance.

Without getting [too far into the details](https://www.verywell.com/fast-and-slow-twitch-muscle-fibers-3120094), I wanted to shift my peripheral muscle composition toward being more Aerobically adapted – being able to utilize more Oxygen at a given submaximal workload, therefore sparing my ANaerobic muscle fibers. I felt I would best accomplish this with the [high volume, low intensity](https://www.ncbi.nlm.nih.gov/pubmed/21912291) endurance training component of my [Polarized Base training plan](https://sparecycles.blog/2017/01/18/2017-training-part-3-vo2max/).

### VO2max Test Protocol

>   * The ramp/step test protocol was +30W every 3 minutes until voluntary exhaustion
>   * After a standardized warm-up stage 1 was set to 170 W in 2016 and 200 W in 2017, hence the extra data point for 2016 in the chart below
>   * I was set up on my own bike, on a Computrainer rear-wheel turbo trainer
>   * I’ve used my own power meter for the data below. 
>     * The computrainer PM measured lower power values than my own PM, as expected for measuring at the rear-wheel vs directly at the cranks.
>     * This could also represent unequal calibration of one PM or the other, but since I use my own power meter for training and racing, I feel it’s measurements are most relevant to my expected longitudinal performance.
>   * Both tests were done around the same time of year, around the same stage of training, with the same general fatigue/restedness, and other controllable factors going into the tests. So the results should be comparable for this discussion.
> 

### VO2max Test Results

[ Results comparison for 2017 vs 2016 [https://sparecycles.blog/wp-content/uploads/2017/03/vo2-test-results3.png?w=1100](https://sparecycles.blog/wp-content/uploads/2017/03/vo2-test-results3.png?w=1100)  ](https://sparecycles.blog/wp-content/uploads/2017/03/vo2-test-results3.png)Results comparison for 2017 vs 2016

#### Observations

  * Heart Rate (bpm) in red; VO2 (L/min) in yellow; Lactate (mmol/L) in blue
  * HR is **higher** at all data points for 2017
  * VO2 is **higher** for 2017
  * Lactate is **lower** for 2017

  * I reached the same power stage (410 W) during both tests, however:
  * In 2017 I lasted 1:45 into 410 W, while in 2016 I lasted only 30s
  * In 2017 I hit higher peak HR, VO2 and Lactate than in 2016, although only marginally
  * The most significant difference was to my Lactate Curve, which had a large effect on determining Lactate Thresholds (see below)

  * HRmax = 195 bpm (my highest recorded ever!)
  * VO2max = 5.14 L/min (65.1 mL/kg/min at 79kg)
  * Lactate = 8.29 mmol/L

#### Interpretation

The first obvious finding is that I was producing less lactate at all submaximal workloads. This is [exactly what would be expected](https://www.ncbi.nlm.nih.gov/pubmed/6373687) with Aerobic adaptation to skeletal muscle. However, I wouldn’t expect to see increased HR at submaximal workloads. [HR should decrease with peripheral Aerobic adaptation](https://www.ncbi.nlm.nih.gov/pubmed/132082). So what could be going on here?

My first reaction is that this could simply be due to increased sympathetic – fight or flight activation; I was more stimulated for whatever reason (more kick to my coffee that morning?) and my HR was artificially jacked up as a result. The fact that I achieved a new highest HRmax might support this theory.

But I also measured higher VO2 for all workloads, reflecting increased O2 utilization throughout the test. This leads me to believe that my skeletal muscles were generating relatively more power via Aerobic metabolism compared to previously having to rely on ANaerobic metabolism to achieve the same relative workload. This could explain both the increase in HR and VO2, and the decrease in lactate production.

This would result in ANaerobic muscle fiber sparing; not having to rely on ANaerobic metabolism to generate power early in the test (or race) means more capacity kept in reserve for the top-end effort when it counts.

> [ View this post on Instagram ](https://www.instagram.com/p/BRhyVvzjFL5/?utm_source=ig_embed&utm_campaign=loading)
> 
> [A post shared by Jem Arnold (@jem_arnold)](https://www.instagram.com/p/BRhyVvzjFL5/?utm_source=ig_embed&utm_campaign=loading)

#### Thresholds

Aerobic (LT1) and ANaerobic thresholds (LT2) are [typically considered](https://datadrivenathlete.com/2013/06/07/134/) to [occur at](https://www.trainingpeaks.com/blog/what-is-lactate-and-lactate-threshold/) 2.0 and 4.0 mmol/L respectively.

[ Lactate Thresholds LT1 & LT2 defined along the Lactate Curve. [https://sparecycles.blog/wp-content/uploads/2017/03/vo2-test-results4.png?w=1100](https://sparecycles.blog/wp-content/uploads/2017/03/vo2-test-results4.png?w=1100)  ](https://sparecycles.blog/wp-content/uploads/2017/03/vo2-test-results4.png)Lactate Thresholds LT1 & LT2 defined along the Lactate Curve.

Taking these classical definitions, my thresholds appear to be:

> 2016 | 2017  
> ---|---  
> Aerobic Threshold (LT1)  
> 142 bpm | 171 bpm  
> **240 W** | **300 W**  
> 74% FTP | 87% FTP  
> 62% MAP | 75% MAP  
> Lactate Threshold (LT2)  
> 176 bpm | 184 bpm  
> **325 W** | **345 W**  
> 84% MAP | 87% MAP  
> Max Aerobic Power (MAP)  
> **385 W** | **398 W**  
  
These indicate a 3.5% improvement to Max Aerobic Power; a 6% improvement to ANaerobic/Lactate Threshold; and more significantly: **a _massive_ 25% improvement to Aerobic Threshold!**

So although my max Aerobic ceiling (MAP, VO2max) and my functional threshold power (FTP, LT2) increased a bit less than one might expect for a year of training, my Aerobic threshold (LT1) showed outsized improvements, apparently confirming the efficacy of my training for Aerobic adaptations.

However at the time of this test, the data simply didn’t match my subjective perception of my own abilities…

### 

### Further Investigation Necessary

For 2016, these thresholds aligned very well to my subjective perception of fatigue at varying intensities; below ~240 W felt easy, ~325 W [felt mentally tough, but sustainable](https://sparecycles.blog/2017/02/07/threshold-is-mental/), and at ~385 W I could barely hold on for a few painful minutes.

However, for 2017 the two threshold values (LT1 & LT2) seem unbelievably high based on my subjective perception of fatigue: I thought there’d be no way I could “ride forever” at 300 W, 171 bpm, nor could I ride [40-60 minutes](https://sparecycles.blog/2017/01/01/ftp-and-tte/) at 345 W, 184 bpm.

And could my physiology really change so drastically within 12 months, that for the same physiological threshold I was pushing out an extra 60 W, and my heart was beating nearly 30 bpm faster?

Maybe I’ve just been underestimating my capabilities and not pushing myself as hard in training as this tests suggests I’m capable of?

Or maybe the 2017 test was overestimating my individual thresholds based on typical Lactate Curve norms? What would happen to my power and HR thresholds if my individual lactate thresholds occur earlier on the curve, eg. at 3.5 and 1.5 mmol/L respectively?

### 

No conclusion to these questions just yet, although since this VO2max test some of my training and race data has come surprisingly close to confirming the predicted numbers. I’ll have a follow up post soon (with less than a month delay this time) on some potential answers.
